#header,#nav{
    background:#b30000;
    color: #fff;
}
#header #return{
    color: #FFFFFF;
}
#header #nav{
    width: 80%;
    margin-left: 40px;
    height: 42px;
}
#header #nav a{
    height: 45px;
}
#header #nav .mui-tab-item.mui-active{
    color: #fff;
}

/* 主界面具体内容展示 */
#conent{
    background-image: url(../img/background.jpg);
    background-size: 100% auto; 
    background-repeat: no-repeat; 
    overflow: hidden;
}
#conent #head{
    overflow: hidden;
    box-shadow: 0px 1px 0px 0px #c4baa0;
}
#head .head_left{
    padding: 15px;
    width: 96px;
    height: 96px;
    float: left;
    display: inline-block
}
#head .title{
    padding-right: 31px;
    float: left;
    display: block;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 15px;
}
#head .stitle{
    font-size: 12px;
    padding-top: 20px;
    float: left;
    color: #282828;    
    padding-left: 15px;
}
#head .titile_right{
    font-size: 12px;
    float: right;
    color: #282828;
    padding-top: 20px;
    padding-right: 15px;
}


#list{
    overflow: hidden;
}
#list #form img{
    float: left;
    padding: 5px;
    margin: 10px;
}
#list #form #font_title{
   display:inline;
   line-height: 60px;
   color: #000;
   font-size: 20px;
}
#list #form .explain{
    display: inline;
    padding-left: 10px;
    font-size: 12px;
}
#list #form .btn_right{
    float: right;
    width: 32px;
    height: 32px;
    margin-top: 20px;
    background-image: url(../img/button.png);
    background-size: 60% auto; 
    background-repeat: no-repeat; 
}
#list #form .right{
    margin-top:20px;
    float: right;
    color: #2f2e2e;
}
#list #form_1 .header-title{
    margin-bottom: 15px;
    overflow: hidden;
}
#list #form_1 .header-title .head_title{
    font-size: 18px;
    color: #000;
}
#list #form_1 .header-title .head_title_right{
    float: right;
    font-size: 13px;
    color:#8f8f94;
    margin-right: 10px;
}
#list #form_1{
    overflow: hidden;
}
#list #form_1 #font_title_1{
    color: #000;
    padding-left: 10px;
    font-size: 20px;
}
#list #form_1 #font_title_1 .right{
    float: right;
    margin-top:10px;
    color: #2f2e2e;
}
#list #form_1 #font_title_1 .explain{
    font-size: 13px;
    margin-top: 10px;
    color: #574b3c;
}
#list #form_1 .sbtn{
    display: inline-block;
    margin-left: 45px;
    margin-top: 10px;
    float: left;
    width: 37px;
    height: 35px;
    background-image: url(../img/btn_05.png);
    background-size: 60% auto; 
    background-repeat: no-repeat; 
}
#list #form_1 .sbtn_1{
    font-size: 12px;
    color: #574b3c;
    line-height: 50px;
    text-align: center;
}

/* 底部内容 */
#footer{
   background-color: #f3e4db;
   overflow: hidden; 
}
#footer .footer_left{
    float: left;
}
#footer .footer_left img{
    width: 55px;
    height: 55px;
    padding: 7px;
    display: inline;
    float: left;
}
#footer .footer_left span{
    display: inline-block;
    font-size: 18px;
    margin-top: 10px;
}
#footer .footer_left h5{
    font-size: 13px;
    color: #574b3c;
}
#footer .footer_right{
    float:right;
}
#footer .footer_right span:nth-of-type(1){
    display: inline-block;
    width: 21px;
    height: 24px;
    margin-bottom: 4px;
    margin-right: 5px;
    background-image: url(../img/button_01.png);
    background-size: 70% auto; 
    background-repeat: no-repeat; 
}
#footer .footer_right span:nth-of-type(2){
    display: inline-block;
    margin: 0 10px;
    width: 28px;
    height: 32px;
    background-image: url(../img/button_02.png);
    background-size: 70% auto; 
    background-repeat: no-repeat; 
}
#footer .footer_right span:nth-of-type(3){
    display: inline-block;
    margin-top: 20px;
    width: 38px;
    height: 29px;
    background-image: url(../img/button_03.png);
    background-size: 70% auto; 
    background-repeat: no-repeat; 
}

/* 侧边栏内容-----菜单具体展示内容*/
#scorll{
    background: #fff;
}
#scorll #scorll_head{
    overflow: hidden;
    background-image: url(../img/background.png);
    background-size: 100%; 
    background-repeat: no-repeat;
    padding-top: 5px;
}
#scorll_head .portrait{
    display: block;
    width: 70px;
    height: 70px;
    background-image: url(../img/head_02.png);
    background-size: 100% auto; 
    background-repeat: no-repeat; 
    margin: 0 auto;   
}
#scorll_head .title{
    margin: 8px 0;
    font-size: 15px;
    color: #000;
    text-align: center;
}
#scorll_head .record{
    
    overflow: hidden;
}
#scorll_head .record li{
    float: left;
    margin-left: 20px;
    padding-bottom: 7px;
}
#scorll_head .record li:nth-of-type(3){
    float: right;
    margin-right: 20px;
}
#scorll_head .record li span{
    display: block;
}
#scorll_head .record .record_one span:nth-of-type(1){
    text-align: center;
    line-height: 25px;
    font-size: 15px;
}
#scorll_head .record .record_two span:nth-of-type(1){
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    margin-left: 20px;
}
#scorll_head .record .record_three span:nth-of-type(1){
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    margin-left: 10px;
}
 #scorll_head .record .record_one span:nth-of-type(2){
    font-size: 15px;
 }
 #scorll_head .record .record_two span:nth-of-type(2){
    font-size: 15px;
    margin-left: 20px;
 }
 #scorll_head .record .record_three span:nth-of-type(2){
    font-size: 15px;
    margin-left: 10px;
 }
 #scorll #scorll_content{
     background: #f7f7f7;
 }
 #scorll_content li{
     padding-top: 33px;
     padding-left: 20px;
     color: #000;
     font-size: 15px;
 }
 #scorll_content li:last-of-type{
     padding-bottom: 30px;
 }
#scorll .scorll_footer{
    box-shadow: 0px -1px 0px 0px #bebebe;
    overflow: hidden;
}
#scorll .scorll_footer li:nth-of-type(1){
    float: left;
    padding-left: 50px;
    text-align: center;
    line-height: 50px;
}
#scorll .scorll_footer li:last-of-type{
    float: right;
    line-height: 50px;
    padding: 0 40px;
    box-shadow: -1px 0px 0px 0px #bebebe;
}